<!DOCTYPE html>
<html>

<head>
	<title>{% block title %}Expenses App{% endblock title %}</title>


	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
	{% block additional_styles %}{% endblock additional_styles %}

</head>
<body class="">

	{% block content %}

	
	{% endblock content %}

</body>

</html>